#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
}

svg {
  overflow: visible;
  background: #eeeeee;
  display: block;
  width: 100%;
}
.chart_controls {
  margin-top: 64px;
}
.chart_controls button {
  width: 120px;
  border: solid 1px black;
  background: gainsboro;
  padding: 4px;
  margin: 4px;

}